<div class="container-fluid">
  <h1
    style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
    class="text-center"
  >
    Welche Frucht ist das ? [Erdbeere,Apfel oder Banane]
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form #form="ngForm" (ngSubmit)="onSubmit()" class="mt-5 text-break" style="border: 3px solid green;padding: 10px;border-radius: 10px;">
          
             <input
            accept="image/*"
            type="file"
            class="mb-5"
            name="ImgPath"
            (change)="imgChange($event)"
          />
         
          <button
            class="btn btn-success"
            type="submit"
            (click)="onSubmit(data)"
          >
            Analysieren
          </button>
        </form>
      </div>
      <div class="col-md-6 pl-5 pt-5">
        <img class="img-fluid" [src]="getSafePicture()" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </div>
</div>